* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: blue;
    
}
main{
    width: 100%;
    height: 76vh;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 81, 255, 0.664);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:flex-end
}

#grid--height {
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
}
#pixel--height {
    padding: 15px;
    border-style: none;
}
#submit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    border-style: none;
    background-color: rgb(169, 111, 223);
    color: white;
}

.lign {
    display: flex;
}
.cells {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
}
.white{
 background-color: white;
}
.black{
background: black;
}
.yellow{
background-color: yellow;
}
.green{
background-color: palegreen;
}




#div--footer {
    align-items: baseline;
    background-color:rgb(12, 4, 133);
    padding: 15px;
}
.choix1 {
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    border-style: none;
    margin-right: 5px;
}
.choix2 {
    padding: 15px;
    border-radius: 50%;
    background-color: black;
    border-style: none;
    margin-right: 5px;
}
.choix3 {
    padding: 15px;
    border-radius: 50%;
    background-color: yellow;
    border-style: none;
    margin-right: 5px;
}
.choix4 {
    padding: 15px;
    border-radius: 50%;
    background-color: palegreen;
    border-style: none;
}

